{# templates/login/index.html.twig #}
{% extends 'admin.html.twig' %}


{% block body %}
	<div class="form-row d-flex justify-content-between">
		{{ knp_pagination_filter(users, {'u.nome': 'nome'} ) }}

		<a href="javascript:void(0)" class="btn btn-default" style="color:#ac8529" data-toggle="modal" data-target="#addOrderModalside">Paths</a>


		<a href="{{ path('app_user_new') }}" class="btn btn-default" style="color:#ac8529;">Adicionar novo
		</a>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="table-responsive">
				<table id="example2" class="table card-table display dataTablesCard">
					<thead>
						<tr>
							<th>{{ knp_pagination_sortable(users, 'Nome', 'u.nome') }}</th>
							<th>{{ knp_pagination_sortable(users, 'Username', 'u.username') }}</th>
							<th>Roles</th>
							<th>{{ knp_pagination_sortable(users, 'Ativo?', 'u.isActive') }}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.nome }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
								{% if user.isActive() != 1%}
									<td>Inativo</td>
								{% else %}
									<td>Ativo</td>
								{% endif %}
								<td>
									<a href="{{ path('app_user_edit', {'id': user.id}) }}">editar</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
			<hr>
			<div class="navigation">
				{{ knp_pagination_render(users) }}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addOrderModalside">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Paths</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<form action="{{path('app_configuracoes')}}" method="post" class="col-xl-12">
						<div class="input-group mb-3">
							<input value="{{ configuracoes != null ? configuracoes.pathAssessoria : ''}}" name="assessoria" placeholder="Path Assessoria" type="text" class="form-control">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									Assessoria
									{#{{ options.button }}{#}
								</button>
							</div>
						</div>
					</form>
					<form action="{{path('app_configuracoes')}}" method="post" class="col-xl-12">
						<div class="input-group mb-3">
							<input value="{{ configuracoes != null ? configuracoes.pathLogistica : ''}}" name="logistica" placeholder="Path logística" type="text" class="form-control">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									Logística
									{#{{ options.button }}{#}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
